/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General*/

.bg-pink{

    background-color: #FFC0CB;

}

.bg-light-blue{

    background-color: #1E90FF;
}

.bg-grey{

    background-color:#D3D3D3 ;
    

}

.bg-green{

    background-color: #228B22;

}

.bg-darkgrey{

    background-color: #23272A;
}

.bg-aqua{

    background-color: aqua;
}

.bg-coral{

    background-color: coral;

}

/*Header*/



.header-top{
    
    
    background-color: #ADD8E6;
    width: 100%;
   
}


.header-top .container {

    display: flex;
    list-style: none;
    width: 70%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

.header-top .container > * {
    
   
    border: 3px dashed black; 
    background-color: #DAA520;
    padding: 10px 0;
    
}


.content-25.logo{

    width: 25%;
    padding-left: 10px;;
    
}

.content-25.login{

    width: 25%;
    padding-right: 10px;;
    text-align: right;
}

.content-50{

    width: 50%;
    text-align: center;

}

.content-50 nav  ul li {

    list-style: none;

}

.content-50 nav ul {

    display: flex;
    justify-content: center;

}

.content-50 nav ul li > a {
 
    display: inline-block;
    padding: 0 10px;
}

.header-bottom{
    
    display: flex;
    background-color: #00008B;
    width: 100%;
    min-height: 300px;
    

}


.fuchsia{

    width: 50%;
    background-color: #EE82EE;
    margin: 30px auto;
    border: 3px dashed black;
}


/*Main*/

.section-container{

    display: flex;
    width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    

}


.section-container .content{

    width: 60%;
    min-height: 200px;
    border: 3px dashed black;

}

.section-container .adv{

    width: 40%;
    min-height: 200px;
    border: 3px dashed black;

}

.reverse .adv {
    
    order: -1;

}


.section-container .bg-green{

    width: 100%;
    min-height: 400px;
    border: 3px dashed black;

}


/*Footer*/

.container-footer{

    display: flex;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.footer-top{

    display: flex;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;

}

.footer-top .right{

    width: 30%;
    height: 250px;
    border: 2px dashed black;
}

.footer-top .left{

    display: flex;
    width: 70%;
    height: 250px;
    border: 2px dashed black;
    flex-direction: row;

}

.left .left-section{

    
    width: 25%;
    height: 250px ;
    border: 1px dashed white;

}

.footer-bottom{

    display: flex;
    background-color: #7FFFD4;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

.footer-bottom .right, 
.footer-bottom .left{

    width: auto;
    height: 25px;
    border: 1px dashed black;
    text-align: center;
    line-height: 25px;
    vertical-align: center;
    padding: 0 10px;
    
}

